@model List<Producte>
@{
    ViewData["title"] = "TendaCistell";

}
@{
     
    @foreach (var product in Model)
{
    <figure class="figure">
            <img src="@product.imatgeproducte" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                <figcaption class="figure-caption">@product.nomProducte</figcaption>
</figure>
          <input type="submit" value="comprar"/>
}
}

<h1>
    Hola Cistell
</h1>
