@model List<Producte>
@{
    ViewData["title"] = "Botiga Cistell";

}
@section Css {
    
    <style>
        .productes {
            display: inline-grid;
            width: 80%;
            margin-left:auto;
			margin-right: auto;
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            font-family: 'Courier New';
   
        }
        
    </style>
}
@{
   
     
    <div class="productes">
   
    @foreach (var product in Model){
            <figure class="figure col mb-5" style="text-align:center; ">
                <img width="300" height="300" src="/imatgesProductes/productes/@product.imatgeproducte" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                <figcaption class="figure-caption">@product.nomProducte <br /><b>@product.preuProducte €</b></figcaption>
                <form enctype="multipart/form-data" asp-controller="Cistell" asp-action="Afegir" method="post">
                        <input type="hidden" name="codeproducte" value="@product.codiProducte"/>
                <input id="btn-submit" class="btn btn-outline-secondary fa" type="submit" value="Afegir a Cesta"/>
                </form>
                 
       </figure>
          
    }


 </div>
}

@section Scripts {
	<script>
        document.addEventListener('click',(e)=>{
            if(e.target.matches("#btn-submit")){
				//alert("Producte afegit a la cistella");
				e.preventDefault();
				fetch("/Cistell/Afegir", {
					method: "POST",
					body:new FormData(e.target.form),
                }).then(response => response.json()).then(res=>document.getElementById("contador").innerText = res.contador);
            }
        })
    </script>
}
