@model List<Producte>
@{
    ViewData["title"] = "Botiga Cistell";

}
@section Css {
    
    <style>
        
        .figure{
            max-width:300px;
            min-width:300px;
        }

        
    </style>
}
@{
   
     
    <div class="productes">
   
    @foreach (var product in Model){
            <figure class="figure col mb-5" style="text-align:center; ">
                <img style="width:300px !important;" width="300" height="300" src="/imatgesProductes/productes/@product.imatgeproducte" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                <figcaption class="figure-caption">@product.nomProducte <br /><b>@product.preuProducte €</b></figcaption>
                
                    <form asp-controller="Cistell" asp-action="Afegir" method="post">
                        <input type="hidden" name="codeproducte" value="@product.codiProducte"/>
                        <input class="btn btn-outline-secondary fa" id="btn-afegir" type="button" value="Afegir a Cesta"/>
                </form>
                
                 
       </figure>
          
    }


 </div>
}

@section Scripts {
 	<script>
         document.addEventListener('click',(e)=>{
            
             if(e.target.matches("#btn-afegir")){
 				
 				e.preventDefault();
 				fetch("/Cistell/Afegir", {
 					method: "POST",
 					body:new FormData(e.target.form),
                 }).then(response => response.json()).then(res=>{
                     console.log(res);
                     if(res.error == undefined){
                      document.getElementById("contador").innerText = res.count;
                     }else{
                         alert(res.error);
                     }
                    
                 });

             }
         });
     </script>
 }

