@model List<Producte>
@{
    ViewData["title"] = "TendaCistell";

}
@{
   
     
    <div class="productes">
   
    @foreach (var product in Model){
    <figure class="figure">
            <img width="300" height="300" src="/imatges/@product.imatgeproducte" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                <figcaption class="figure-caption">@product.nomProducte</figcaption>
                <input type="submit" value="comprar"/>
       </figure>
          
}


 </div>
}

