@model List<Producte>
@{
    ViewData["title"] = "Botiga Cistell";

}
@section Css {
    
    <style>
        
        .figure{
            max-width:300px;
            min-width:300px;
        }

        
    </style>

}
@{

    <div>
        <form method="post">
            <div class="input-group">
                <div class="form-outline" data-mdb-input-init>
                    <input type="search" id="form1" name="filter" class="form-control" placeholder="Buscar Producte." />
                </div>
                <button asp-controller="Cistell" asp-action="index" type="submit" class="btn btn-primary" data-mdb-ripple-init>
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="productes">
    @foreach (var product in Model){
            <div class="card text-center" style="width: 300px;">
            <img class="card-img-top" style="width:300px !important;" width="300" height="300" src="/imatgesProductes/Productes/@product.imatgeproducte">
            <div class="card-body">
                <h5 class="card-title">@product.nomProducte<br /><b>@product.preuProducte €</b></h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
               
                <form asp-controller="Cistell" asp-action="Afegir" method="post">
                    <input type="hidden" name="codeproducte" value="@product.codiProducte" />
                    <input class="btn btn-outline-secondary fa" id="btn-afegir" type="button" value="Afegir a Cesta" />
                </form>
            </div>
            </div>
          
    }


 </div>
}

@section Scripts {
 	<script>
         document.addEventListener('click',(e)=>{
            
             if(e.target.matches("#btn-afegir")){
 				
 				e.preventDefault();
 				fetch("/Cistell/Afegir", {
 					method: "POST",
 					body:new FormData(e.target.form),
                 }).then(response => response.json()).then(res=>{
                     console.log(res);
                     if(res.error == undefined){
                      document.getElementById("contador").innerText = res.count;
                     }else{
                         alert(res.error);
                     }
                    
                 });

             }
         });
     </script>
 }

