@model Producte;
@{
ViewData["title"]="Afegir Producte";
}
@section Css {
	<link href="~/css/estilform.css" rel="stylesheet" />
}


@{
    <form enctype="multipart/form-data" asp-action="AfegirProducte" asp-controller="Producte" method="post">
        <fieldset>
          <legend>Afegir Nou Producte</legend>
            <span class="text-danger">@ViewData["resultat"] </span><br />
        <label asp-for="codiProducte"></label>
        <input asp-for="codiProducte" /> <span asp-validation-for="codiProducte" class="text-danger"></span><br />
         <label asp-for="nomProducte"></label>
            <input asp-for="nomProducte" />
            <span asp-validation-for="nomProducte" class="text-danger"></span>
            <br />
        <label asp-for="preuProducte"></label>
            <input asp-for="preuProducte" />
            <span asp-validation-for="preuProducte" class="text-danger"></span>
            <br />
  <!--    <label asp-for="imatgeproducte"></label>
            <input type="hidden" value="1pad.webp" asp-for="imatgeproducte" />
                      <span asp-validation-for="imatgeproducte" class="text-danger"></span>-->
       
        
                <label asp-for="imatgeproducte"></label>
           
                <input asp-for="imatgeproducte" class="form-control" type="file" accept="image/png,image/jpg" required/>
                <span asp-validation-for="imatgeproducte"></span>
        
       

		<input  type="submit" value="Afegir" />
        </fieldset>
    </form>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
