@model Producte;
@{
   
}
@section Css{
	<link href="~/css/estilform.css" rel="stylesheet" />
}

@{
    <form enctype="multipart/form-data" asp-action="AfegirProducte" asp-controller="Producte" method="post">
        <label asp-for="codiProducte"></label>
        <input asp-for="codiProducte" /> <span asp-validation-for="codiProducte" class="text-danger"></span>
         <label asp-for="nomProducte"></label>
        <input asp-for="nomProducte" /> <span asp-validation-for="nomProducte" class="text-danger"></span>
        <label asp-for="preuProducte"></label>
        <input asp-for="preuProducte" /> <span asp-validation-for="preuProducte" class="text-danger"></span>
       
        <dl>
            <dt>
                <label asp-for="imatgeproducte"></label>
            </dt>
            <dd>
                <input asp-for="imatgeproducte" type="file" />
                <span asp-validation-for="imatgeproducte"></span>
            </dd>
        </dl>
       

		<input asp-action="AfegirProducte" asp-controller="Producte" type="submit" value="Afegir" />
    </form>
}