@model Producte;
@{
ViewData["title"]="Afegir Producte";
}
@section Css {
	<link href="~/css/estilform.css" rel="stylesheet" />
}


@{
    <form class="card" enctype="multipart/form-data" asp-action="AfegirProducte" asp-controller="Producte" method="post">
        <fieldset>
        <div class="card-header">
                <h5>Afegir Nou Producte</h5>
            </div>
          <div class="card-body">
            <span class="text-success">@ViewData["resultat"] </span><br />
        <label asp-for="codiProducte"></label>
            <input class="form-control" asp-for="codiProducte" />
            <span asp-validation-for="codiProducte" class="text-danger"></span>
            <br />
         <label asp-for="nomProducte"></label>
            <input class="form-control" asp-for="nomProducte" />
            <span asp-validation-for="nomProducte" class="text-danger"></span>
            <br />
        <label asp-for="preuProducte"></label>
            <input class="form-control" asp-for="preuProducte" />
            <span asp-validation-for="preuProducte" class="text-danger"></span>
            <br />       
                <label asp-for="imatgeproducte"></label>
           
                <input asp-for="imatgeproducte" class="form-control" type="file" accept="image/png,image/jpg"/>
                <span class="text-danger" asp-validation-for="imatgeproducte"></span><br />
        
       

		<input class="btn btn-success"  type="submit" value="Afegir" />
            </div>
        </fieldset>
    </form>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
